<%- include("partials/homePageHeader.ejs") %>

<div class="box-container" id="HOME">
  <div class="video-container">
    <video id="video" src="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/virus.webm?alt=media&token=e2ec64e1-623c-4174-9308-a00565b2e07c" loop muted autoplay></video>
  </div>
  <div class="content">
    <h1>COVID'19 Live Tracker</h1>
    <p>A Covid'19 stats tracker for displaying live updates.</p>
    <form action="/" method="POST">
      <div class="form-inputs-container">
        <input value="India" type="text" class="search" name="search" autocomplete="off" id="input-field"
          placeholder="Search for country" />
        <input type="submit" value="Find" class="form-btn" />
      </div>
      <!-- countries List -->
      <p class="select-text">Or select a country</p>
      <div w3-include-html="/country-names/countriesList.html" class="select-container"></div>
    </form>
  </div>
</div>

<div class="home-content">
  <div class="home-box">
    <div class="bg1 block-1 home-box-content">
      <h1>Global</h1>
      <div class="info">
        <h1><%= globalTotal %>  | <span><%= globalRecovered %> </span></h1>
        <p>Coronavirus Cases &nbsp;<span>| &nbsp;Recovered</span></p>
      </div>
    </div>
    <div class="bg1 block-2 home-box-content">
      <div class="info">
        <h1><%= globalDeaths %> </h1>
        <p>Total Deaths</p>
      </div>
    </div>
    <a href="/countriesOverview" class="bg1 block-3 home-box-content">
      <div class="info">
        <h1>
          <i class="fas fa-table"></i>
          <i class="fas fa-chart-line"></i>
        </h1>
        <p>Countries Overview</p>
      </div>
    </a>
  </div>
</div>

<div class="images-section">
  <div class="images-container">
    <div class="img" id="hidden">
      <img src="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/covid11.webp?alt=media&token=5537c3f8-e381-48e2-a70a-8725b10f28e1" alt="covid-images" />
    </div>
    <div class="img">
      <img src="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/covid1.webp?alt=media&token=37509b9c-02fe-4478-8f09-2d9a3b4be9b2" alt="covid-images" />
    </div>
    <div class="vertical img">
      <img src="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/covid10.webp?alt=media&token=297a2b89-3852-439b-a612-ba20170d5d8c" alt="covid-images" />
    </div>
    <div class="vertical img">
      <img src="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/covid2.webp?alt=media&token=6ffe7625-1bcf-48bc-9679-3af9d504db39" alt="covid-images" />
    </div>
    <div class="vertical img">
      <img src="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/covid3.webp?alt=media&token=c1562f27-8f54-4f73-89e4-3f42cf8e7e58" alt="covid-images" />
    </div>
    <div class="vertical img">
      <img src="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/covid5.webp?alt=media&token=0d153b39-826f-42b4-a93f-c4ddc3e5d0c3" alt="covid-images" />
    </div>
    <div class="big img">
      <img src="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/covid6.webp?alt=media&token=13c88789-10b1-4505-96fe-6857485a2685" alt="covid-images" />
    </div>
    <div class="vertical img">
      <img src="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/covid7.webp?alt=media&token=98473bee-292f-436b-8d2c-9bd3c5213cb0" alt="covid-images" />
    </div>
    <div class="vertical img">
      <img src="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/covid8.webp?alt=media&token=fe3f6020-74ea-48ed-b836-d05e2809e1d2" alt="covid-images" />
    </div>
    <div class="vertical img">
      <img src="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/covid4.webp?alt=media&token=cb72b7c6-240e-4135-8946-2e6298b89058" alt="covid-images" />
    </div>
    <div class="img" id="hidden">
      <img src="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/covid9.webp?alt=media&token=3c47aad4-1768-4286-bfed-8ef595e52b75" alt="covid-images" />
    </div>
  </div>
  <!-- <a href="#" class="images-btn"> Load more Photos </a> -->
</div>

<footer class="footer">
  <div class="copyright">
    <p>© 2020 All Rights Reserved</p>
  </div>
  <div class="icon-container">
    <a href="https://github.com/Silvanus21">
      <i class="fa fa-github" style="font-size: 36px"></i>
    </a>
  </div>
  <div class="tags" id="symbl">
    <a href="#HOME">Home</a>
    <!-- <a href="">About</a> -->
    <a href="/getInTouch">Contact</a>
  </div>
</footer>

<%- include("partials/homePageFooter.ejs") %>