<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Result for <%= countryName %> </title>
    <!-- font awesome css cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <!-- custom css link -->
    <link rel="stylesheet" href="/css/resultPage-min.css" />
</head>

<body>

<div class="grid-container">
  <div class="bg1 block-1">
    <h1>Global</h1>
    <div class="info">
      <h1><%= globalTotal %> | <span><%= globalRecovered %> </span></h1>
      <p>Coronavirus Cases &nbsp;<span>| &nbsp;Recovered</span></p>
    </div>
  </div>
  <div class="bg1 block-2">
    <div class="info">
      <h1><%= globalDeaths %></h1>
      <p>Total Deaths</p>
    </div>
  </div>
  <a href="/resultPage/countriesOverview" class="bg1 block-3">
    <div class="info">
      <h1>
        <i class="fas fa-table"></i>
        <i class="fas fa-chart-line"></i>
      </h1>
      <p>Countries Overview</p>
    </div>
  </a>
  <div class="bg2 block-4">
    <div>
      <h2><%= countryName %> Overview</h2>
      <div class="country-overview">
        <div class="confirmed overview-box">
          <p><%= totalCases %></p>
          <h3>Confirmed</h3>
        </div>
        <div class="recovered overview-box">
          <p><%= totalRecovered %></p>
          <h3>Recovered</h3>
        </div>
        <div class="deaths overview-box">
          <p><%= totalDeaths %></p>
          <h3>Deaths</h3>
        </div>
      </div>
      <div class="new-info">
        <h4 class="new-cases"><span>+<%= newCases %></span> &nbsp;new cases</h4>
        <h4 class="new-recover"><span>+<%= newRecovered %></span> &nbsp;new recover</h4>
        <h4 class="new-deaths"><span>+<%= newDeaths %></span> &nbsp;deaths today</h4>
      </div>
    </div>
  </div>
  <div class="bg2 block-5">
    <div class="info">
      <h2>Fatality Rate</h2>
      <h3 class="percentage"><span class="fatality"><%= fatalityRate %><span class="percent">%</span></span></h3>
      <p style="letter-spacing: 0;color: rgb(124, 123, 123);">of total cases</p>
    </div>
  </div>
  <div class="bg2 block-6">
    <div class="info">
      <h2>Recovery Rate</h2>
      <h3 class="percentage"><span class="recovery"><%= recoveryRate %><span class="percent">%</span></span></h3>
      <p style="letter-spacing: 0;color: rgb(124, 123, 123);">of total cases</p>
    </div>
  </div>
  <div class="bg2 block-7">
    <div class="info">
      <h2>
        Total Number of Tests
      </h2>
      <p><span class="total-tests"><%= tests %> </span></p>
    </div>
  </div>
  <a href="resultPage/resultGraph" class="bg1 block-8">
    <div class="info">
      <div class="graph">
      </div>
      <h3>View Graphs</h3>
    </div>
  </a>
  <a href="/" class="bg2 block-9">
    <div class="info">
      <div>
        <svg class="back-to-home" width="50" height="50">
          <image href="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/back.svg?alt=media&token=766e0886-dcf1-47fb-a7de-9af1cc2dcadc" height="50" width="50" />
        </svg>
      </div>
      <p>Home Page</p>
    </div>
  </a>
</div>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</body>
</html>